html {
	text-align: center;
	background-color: #222;
	color: white;
	font-size: 2.5vw;
	scroll-behavior: smooth;
	scroll-padding: 25vh;
}

body {
	margin: 15%;
}

img {
	width: 33%;
	image-rendering: crisp-edges;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

th {
	border: 1px solid;
	background-color: #333;
}

td {
	border: 1px solid;
	background-color: #222;
}

a {
	position: relative;
	background-color: inherit;
	color: white;
}

a[data-title]:hover:after {
	content: attr(data-title);
	position: absolute;
	left: 0;
	padding: 4px;
	font-weight: normal;
	background-color: inherit;
	font-size: 2vw;
}

.undef {
	background-color: #800;
}

tr {
	position: relative;
}

tr:target::after {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -5vw;
	width: 5vw;
	background-image: url(left_arrow.svg);
	background-size: 100% 100%;
	content: "";
}

#Contents {
	position: fixed;
	top: 1vw;
	left: 1vw;
}

#Phonology th {
	padding: 10px;
}

#Phonology td td {
	border: 0;
}

#Phonology td td:nth-child(2) {
	border-left: 1px solid;
}

#Orthography table:nth-child(3) td {
	border: 0;
}

#Orthography table:nth-child(3) img {
	width: 100%;
}

#Dictionary td {
	width: 25%;
}

#Dictionary td:nth-child(2) {
	text-align: left;
}

#Dictionary td:nth-child(3) {
	width: 50%;
}

#Numbers table table * {
	border: 0;
}

#Numbers table table th {
	width: 25%;
	border-right: 1px solid white;
	font-size: 2vw;
}

#Magic img {
	width: 100%;
}
