html {
	text-align: center;
	background-color: #111;
	color: #EEE;
	font-size: 2.5vw;
}

body {
	margin: 15%;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 10px;
}

a {
	background-color: inherit;
	color: inherit;
}

canvas {
	width: 100%;
}

#Contents {
	position: fixed;
	top: 1vw;
	left: 1vw;
}

#Orthography td:nth-child(4) {
	border-right: 1px solid;
}

#Dictionary td {
	width: 25%;
}

#Dictionary td:nth-child(2) {
	text-align: left;
}

#Dictionary canvas {
	width: 25%;
	aspect-ratio: 1;
	margin-right: 5%;
}

#Dictionary td:nth-child(3) {
	width: 50%;
}

#Creatures td canvas {
	width: 33%;
}
