html {
	text-align: center;
	background-color: #111;
	color: #EEE;
	font-size: 2.5vw;
}

body {
	margin: 15%;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 10px;
}

a {
	background-color: inherit;
	color: inherit;
}

h1, h2, p {
	margin-bottom: 1vh;
}

#Orthography td:nth-child(4) {
	border-right: 1px solid;
}

#Orthography canvas {
	width: 50%;
	aspect-ratio: 1;
}

#Dictionary td:nth-child(1) {
	width: 20%;
}

#Dictionary td:nth-child(2) {
	width: 30%;
	text-align: left;
}

#Dictionary td:nth-child(3) {
	width: 50%;
}

#Dictionary canvas {
	width: 20%;
	aspect-ratio: 1;
	margin-right: 2%;
}

#Magic canvas {
	width: 100%;
	aspect-ratio: 1;
}

#generatorOutput canvas {
	width: 18%;
	aspect-ratio: 1;
	margin: 1%;
	margin-top: 10%;
}
